.resend-products-button {
	position: absolute;
	text-align: center;
	padding: 30px 0;
}

.progress-container {
	display: none;
	margin: 0;
	width: 75px;
	height: 75px;
	position: relative;
}

div#content {
	background-color: #f8f8f8;
}

.editable-input, .editable-input input {
	width: 75px;
}

.main-list-top div {
	float: left!important;
}