.resend-products-button {
	position: absolute;
	text-align: center;
	margin: 30px 0;
}

.progress-container {
	display: none;
	margin: 0;
	width: 75px;
	height: 75px;
	position: relative;
}

div#content {
	background-color: #f8f8f8;
}

.editable-input, .editable-input input {
	width: 75px;
}

.main-list-top div {
	float: left!important;
}

div.dataTables_filter label {text-align: left;!important;}
div.dataTables_filter label input {width: 230px;padding: 5px;}


table#mainProductList.dataTable tbody tr.optimal {background-color: rgba(133, 255, 0, 0.22);}
table#mainProductList.dataTable tbody tr.bad {background-color: rgba(255, 0, 0, 0.22);}
table#mainProductList.dataTable tbody tr.lowprofit {background-color: rgba(255, 188, 0, 0.22);}
table#mainProductList.dataTable tbody tr:hover {background-color: rgba(128, 128, 128, 0.5);!important;}
